/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
h1 {
	padding-top: 30px;
}
article#joboffers .joboffer {
	margin-top: 50px;
}